// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 25px auto;
  width: 960px;
}

.wrapper {
  background-color: purple;
}

.header {
  background-color: red;
  width: 960px;
}

.content {
  width: 600px;
  background-color: green;
  float: left;
}

.sidebar {
  width: 300px;
  background-color: yellow;
  float: right;
}

