// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 25px auto;
  width: 960px;
}

.wrapper {
//  background-color: purple;
}

.header {
//  background-color: red;
  width: 960px;
}

.content {
  width: 600px;
//  background-color: green;
  float: left;
}

.sidebar {
  width: 300px;
//  background-color: yellow;
  float: right;
}

.footer {
  clear:both;
// background-color: blue;
}

/* General Styles
=========================================== */
a, p, h1, h2, h3, h4, h5, h6, div, span {
	font-family: Helvetica;
} 
a {
	text-decoration: none;
	outline: none;
}
a:hover {
	color: green;
}
a:visited {
	color: blue;
}
a:visited:hover {
	color: green;
}
p {
	margin-bottom: 0;
}


/* Header
=========================================== */

.header, .content, .footer, .sidebar {
	border: 2px dotted gray;
	border-radius: 6px;
	overflow: hidden;
	padding: 0 10px;
}
.header, .footer {
	width: 940px;
}
.header, .content, .sidebar {
	margin-bottom: 20px;
}
.content {
	padding-bottom: 20px;
}
.header h2 {
	float: left;
}
.login-actions {
	float: right;
	line-height: 66px;;
}
